/*
Theme Name: tdMagazine
Theme URI: http://themeforest.net/item/tdmagazine-wordpress-news-theme/5087049?ref=taras_d
Author: Taras Dashkevych
Author URI: http://tdwp.us/
Description: tdMagazine is a responsive News/Magazine/Blog WordPress Theme.
Version: 2.2
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: tdmagazine
Domain Path: /languages/
Tags: light, gray, white, two-columns, featured-images, custom-menu, fluid-layout, threaded-comments
*/

/* =Global
----------------------------------------------- */
body {
	background-color: #e9e9e9;
	font-family: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.75;
	color: #494949;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

.searchform {
	position: relative;
}

.searchform input {
	padding-left: 25px;
}

.searchform .search-box-icon {
	position: absolute;
	top: 8px;
	left: 10px;
}

.main-navigation .nav-bar li.menu-item-has-children > a:after,
.main-navigation .nav-bar li.page_item_has_children > a:after,
.main-navigation .nav-bar .sub-menu li.menu-item-has-children > a:before,
.main-navigation .nav-bar .children li.page_item_has_children > a:before,
.menu-items li a::before,
.slicknav_menu .slicknav_icon:before,
.slicknav_menu .slicknav_arrow:after,
#page .main-navigation .mega-menu ul li li a:before,
.share-section.custom-style a:before,
#comments .comment-edit-link:before,
#comments .comments-title:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #fc4e3a;
	font-weight: bold;
	-webkit-transition: all 0.1s  linear;
   	-moz-transition:all 0.1s  linear;
   	-o-transition:all 0.1s  linear;
   	transition:all 0.1s linear;
}

a:hover {
	color: #333333;
	text-decoration: none;
}

#page .accent-color {
	color: #fc4e3a;
}

img {
	display: inline-block;
	width: auto\9;
  	height: auto;
  	max-width: 100%;
  	vertical-align: middle;
  	border: 0;
  	-ms-interpolation-mode: bicubic;
}

p, ul, ol, dd, dl, address, pre,
blockquote {
	margin-bottom: 25px;
}


blockquote {
	font-style: italic;
	border-left: 1px solid #aaa;
	padding-left: 10px;
}

blockquote,
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 1.4;
}

.site-content .hentry,
#secondary .widget,
.navigation-post,
#comments,
.author-section,
.related-posts-container,
.featured-container,
#homepage-widgets .widget,
.page-header {
	background: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
	border: 4px solid #f9f9f9;

	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.narrow-width .container {
	max-width: 980px;
}

ul.bxslider {
	list-style: none;
	margin: 0;
}

.page-numbers.current {
	display: inline-block;
	background: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	padding: 8px 14px;
	color: #565656;
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px #ffffff inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px #ffffff inset;
}

.site-inner {
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------------
2.0 Inputs and buttons
--------------------------------------------------------------*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.04);
	line-height: 35px;
	height: 35px;
}

textarea {
	min-height: 240px;
	line-height: 1.75;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
	outline: 0;
  	outline: thin dotted \9;

}

a.button,
#submit-comment,
input[type="submit"],
.page-pagination-conatiner a,
.navigation-paging a,
.navigation-paging .current {
	display: inline-block;
	background: #f7f8f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f8f8), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #f7f8f8, #ebebeb);
	background-image: -moz-linear-gradient(top, #f7f8f8, #ebebeb);
	background-image: -o-linear-gradient(top, #f7f8f8, #ebebeb);
	background-image: linear-gradient(to bottom, #f7f8f8, #ebebeb);
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px #ffffff inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px #ffffff inset;
	cursor: pointer;
	font-size: 14px;
	line-height: 33px;
	height: 35px;
	padding: 0 14px;
	color: #565656;

	-webkit-transition: all 0.1s  linear;
   	-moz-transition:all 0.1s  linear;
   	-o-transition:all 0.1s  linear;
   	transition:all 0.1s linear;
}

a.button:hover,
#submit-comment:hover,
input[type="submit"]:hover,
.page-pagination-conatiner a:hover,
.navigation-paging a:hover {
	background: #dbdbdb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f8f8), to(#dbdbdb));
	background-image: -webkit-linear-gradient(top, #f7f8f8, #dbdbdb);
	background-image: -moz-linear-gradient(top, #f7f8f8, #dbdbdb);
	background-image: -o-linear-gradient(top, #f7f8f8, #dbdbdb);
	background-image: linear-gradient(to bottom, #f7f8f8, #dbdbdb);
	color: #333333;
	border: 1px solid #a9a9a9;
}

/*--------------------------------------------------------------
7.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
4.0 Header
--------------------------------------------------------------*/
#masthead {
	padding: 25px 30px 0;
}

#masthead,
#masthead .top-navigation ul {
	background-color: #ffffff;
}

#masthead .top-section {
	margin: -25px -30px 10px;
	padding: 4px 23px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}

#masthead .site-branding {
	padding-top: 20px;
	padding-bottom: 35px;
}

#masthead .site-title,
#masthead .site-description {
	line-height: 1;
}

#masthead .top-section,
#masthead .site-description,
.searchform .search-box-icon,
.searchform input {
	font-size: 11px;
}

#masthead .site-title a,
#secondary-navigation a {
	color: #333333;
	font-weight: normal;
}

#masthead .site-title {
	margin: 0;
}

#masthead .site-description {
	margin: 15px 0 5px;
	opacity: 0.6;
}

#header-searchform {
	margin: 25px 0;
}

#header-searchform input {
	min-width: 260px;
	background: none;
}

/*--------------------------------------------------------------
4.0 Footer
--------------------------------------------------------------*/
#colophon {
	padding: 40px 30px 0;
	border-top: 5px solid #fc4e3a;
	background: #000000;
}

#colophon,
#colophon a:hover {
	color: #aaaaaa;
}

#colophon a {
	color: rgba(255,255,255,0.8);
}

#colophon .footer-bottom {
	padding: 15px 0 17px;
	border-top: 1px solid rgba(255,255,255,0.2);
}

.footer-bottom .c {
	font-size: 11px;
	line-height: 25px;
}

/*--------------------------------------------------------------
4.0 Main Menu
--------------------------------------------------------------*/
#tinynav1,
#tinynav2 {
	display: none;
	margin: 5px auto;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
}

#mobile-site-navigation,
.main-navigation {
	position: relative;
	background: #000;
	margin: 0 -30px;
	padding: 0 30px;
	border-bottom: 3px solid rgba(255,255,255,0.3);
}

.main-navigation ul {
	border-left: 1px dotted rgba(255,255,255,0.2);
}

.main-navigation ul,
.top-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li,
.top-navigation li {
	position: relative;
	float: left;
}

.main-navigation li {
	border-right: 1px dotted rgba(255,255,255,0.2);
}

.main-navigation .nav-bar li.menu-item-has-children > a:after,
.main-navigation .nav-bar li.page_item_has_children > a:after {
	content: "\f107";
	position: relative;
	padding-left: 8px;
}

.main-navigation .nav-bar .sub-menu li.menu-item-has-children > a:after,
.main-navigation .nav-bar .children li.page_item_has_children > a:after {
	content: "\f105";
}

.top-navigation li a {
	display: inline-block;
	padding: 4px 8px;
}

.main-navigation li a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-weight: bold;
	border-bottom: 3px solid transparent;
	margin-bottom: -3px;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a,
.main-navigation li:hover > a {
	border-bottom-color: #fc4e3a;
	background: rgba(255,255,255,0.2);
}

.top-navigation ul ul,
.main-navigation ul ul {
	float: left;
	position: absolute;
	left: -999em;
	z-index: 99999;
	border: none;
}

.top-navigation ul ul {
	top: 1.9em;
}

.main-navigation ul ul {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	top: 3.9em;
	background: #000;
	font-size: 12px;
}

.top-navigation ul ul ul,
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li {
	float: none;
	display:block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main-navigation ul ul a {
	width: 200px;
	margin:0;
	border: none;
	opacity: 0.8;
	text-transform:capitalize;
}

.top-navigation ul ul a {
	width: 100px;
}

.main-navigation ul ul :hover > a {
	background: rgba(255,255,255,0.15);
	opacity: 1;
}

.top-navigation ul li:hover > ul,
.main-navigation ul li:hover > ul {
	left: auto;
}

.top-navigation ul ul li:hover > ul,
.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation ul li.menu-item-has-children:hover > a {
	position: relative;
}

.main-navigation ul > li.menu-item-has-children:hover > a:before {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -3px;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #fc4e3a transparent;
}

.main-navigation ul ul > li.menu-item-has-children:hover > a:before {
	border: none;
}

/*--------------------------------------------------------------
5.1 Fixed Menu
--------------------------------------------------------------*/
.sticky-navigation {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 400;
  	margin: 0;
}

.sticky-navigation ul {
	padding-top: 0;
	padding-bottom: 0;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

/*--------------------------------------------------------------
5.3 Mobile Menu
--------------------------------------------------------------*/
#mobile-site-navigation {
	clear: both;
	display: none;
	padding:0;
}

#mobile-site-navigation a {
	color: #ffffff;
}

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: right; margin: 0 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* Button */
.slicknav_btn {
	overflow: hidden;
 	display: block;
 	width: 100%;
    text-decoration:none;
    padding: 20px 30px;
}

/* Button Icon */
.slicknav_menu .slicknav_icon:before {
	content: "\f0c9";
}

.slicknav_menu .slicknav_open .slicknav_icon:before {
	content: "\f00d";
}

/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    font-weight: bold;
    text-transform: uppercase;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
	display: none;
}

.slicknav_nav {
    margin:0;
    font-size:13px;
    border-top: 1px solid rgba(0,0,0,0.07);
}

.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}

.slicknav_menu ul {
    list-style: none;
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
}

.slicknav_menu ul li {
	border-top: 1px solid rgba(255,255,255,0.2);
}

.slicknav_nav .slicknav_row {
	position: relative;
	overflow: hidden;
}

.slicknav_menu .slicknav_arrow {
	display: block;
	font-size: 0.8em;
	height: 100%;
	float: right;
	text-indent: -9999px;
}

.slicknav_menu .slicknav_arrow:after {
	content: "\f067";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	text-indent: 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	width: 54px;
	text-align: center;
	line-height: 54px;
}

.slicknav_menu .slicknav_open > a .slicknav_arrow:after {
	content: "\f068";
}

.slicknav_nav .sub-menu,
.slicknav_nav .children,
.slicknav_nav a:hover {
	background: rgba(255,255,255,0.15);
}

.slicknav_nav a {
    padding: 16px 30px;
    text-decoration:none;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}

.slicknav_nav .slicknav_txtnode {
     margin-left:15px;
}

/*--------------------------------------------------------------
5.1 Mega Menu
--------------------------------------------------------------*/
.main-navigation li.mega-menu {
	position: static;
}

#page .main-navigation li.mega-menu:hover > ul {
	visibility: visible;
	opacity: 1;
	z-index: 1000;
}

#page .main-navigation .mega-menu  > ul  {
	width: 100%;
	left: 0;
	right:0;
	top: 3.9em;

	margin: 0;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	display: block;
	padding: 30px 0 0;

	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.main-navigation .mega-menu.col-2 ul > li,
.main-navigation .mega-menu.col-3 ul > li,
.main-navigation .mega-menu.col-4 ul > li {
	border: none;
	float: left;
}

.main-navigation .mega-menu.col-2 ul > li {
	width: 50%;
}

.main-navigation .mega-menu.col-3 ul > li {
	width: 33.33333333%;
}

.main-navigation .mega-menu.col-4 ul > li {
	width: 25%;
}

#page .main-navigation .mega-menu ul li > a:after{
	content: "";
}

#page .main-navigation .mega-menu ul li > a {
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	display: block;
	padding: 0 0 5px;
	margin: 0 30px;
	background: none;
	opacity: 0.7;
	font-size: 14px;
}

#page .main-navigation .mega-menu ul > li ul {
	visibility: inherit;
	opacity: 1;
	position: static;
	left: auto;
	float: none;
	margin: 0 30px 30px;
	padding-top: 7px;
	border-top: 1px solid rgba(255,255,255,0.2);
	box-shadow: none;
}

#page .main-navigation .mega-menu ul li li a {
	text-transform: none;
	margin:0;
	padding: 1px 7px;
	font-size: 12px;
	opacity: 1;
}

#page .main-navigation .mega-menu ul li li a:before {
	content: "\f105";
	padding-right: 10px;
}

#page .main-navigation .mega-menu ul li li a:hover {
	background: rgba(255,255,255,0.15);
}

#page .main-navigation .mega-menu ul > li ul li {
	float: none;
	display: block;
	position: relative;
	width: 100%;
}

#page .main-navigation .mega-menu ul > li ul ul {
	display: none;
}

/*--------------------------------------------------------------
5.1 Social Menu
--------------------------------------------------------------*/
.social-list {
	clear: both;
	margin: 0;
	padding:0;
}

.social-list ul {
	margin: 0;
}

.social-list li {
	margin-top: 1px;
}

.social-list li,
.social-list li a {
	display: inline-block;
}

.menu-items li a::before {
	content: '';
	display: inline-block;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}

.menu-items li a:hover::before {
	border-radius: 0;
}

.menu-items li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-items li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-items li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-items li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-items li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-items li a[href*="github.com"]::before { content: '\f113'; }
.menu-items li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-items li a[href*="youtube.com"]::before { content: '\f16a'; }
.menu-items li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-items li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-items li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-items li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-items li a[href$="/feed/"]::before { content: '\f09e'; }
.menu-items li a[href*="behance.net"]::before { content: '\f1b4'; }
.menu-items li a[href*="vk.com"]::before { content: '\f189'; }
.menu-items li a[href*="soundcloud.com"]::before { content: '\f1be'; }
.menu-items li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-items li a[href^="mailto:"]::before { content: '\f0e0'; }

.menu-items li a[href*="facebook.com"]::before { background: #375E98; }
.menu-items li a[href*="twitter.com"]::before { background: #32CDFB; }
.menu-items li a[href*="plus.google.com"]::before { background: #B83B29; }
.menu-items li a[href*="dribbble.com"]::before { background: #EF5A90; }
.menu-items li a[href*="pinterest.com"]::before { background: #BD4C50; }
.menu-items li a[href*="github.com"]::before { background: #E6E6E6; color: #5E5F5F;  }
.menu-items li a[href*="tumblr.com"]::before { background: #043052; }
.menu-items li a[href*="youtube.com"]::before { background: #CB291C; }
.menu-items li a[href*="flickr.com"]::before { background: #B1B6C6; }
.menu-items li a[href*="vimeo.com"]::before { background: #3395CA; }
.menu-items li a[href*="instagram.com"]::before { background: #44749C; }
.menu-items li a[href*="linkedin.com"]::before { background: #376CBD; }
.menu-items li a[href$="/feed/"]::before { background: #DCA24C; }
.menu-items li a[href*="behance.net"]::before { background: #225ABB; }
.menu-items li a[href*="vk.com"]::before { background: #355A85; }
.menu-items li a[href*="soundcloud.com"]::before { background: #FF6301; }
.menu-items li a[href*="reddit.com"]::before { background: #9CCAFE; }
.menu-items li a[href^="mailto:"]:before { background: #1A9D6E; }

/*--------------------------------------------------------------
5.1 Content
--------------------------------------------------------------*/
.site-main {
	background: #f9f9f9;
	padding: 25px 25px 20px 25px;
}

.breadcrumbs,
.entry-header .entry-meta {
	font-size: 12px;
}

.breadcrumbs {
	margin-top: -5px;
	margin-bottom: 20px;
	padding-left: 4px;
}

.breadcrumbs i {
	margin-left: 8px;
	margin-right: 6px;
	color: #aaaaaa;
}

.site-content .hentry .post-thumb,
.site-content .hentry .post-slideshow,
.site-content .hentry .post-video {
	margin: -20px -20px 15px;
	border-bottom: 4px solid #f9f9f9;
}

.hentry .post-thumb {
	position: relative;
}

.hentry .post-thumb .post-thumb-credits {
	position: absolute;
	bottom: 1px;
	right: 1px;
	background: #fff;
	font-size: 12px;
	line-height: 1;
	padding: 4px 6px;
	opacity: 0.8;
	filter:alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.hentry .post-thumb .post-thumb-credits:before {
	content: "\00a9";
	color: inherit;
}

.thumb-link:hover,
.related-post-entry-image a:hover,
.recent-post-entry-image a:hover,
.popular-post-entry-image a:hover{
	opacity: 0.5;
	filter:alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.hentry .thumb-link.alignleft {
	max-width: 260px;
}

.inline-blog .hentry .thumb-link.alignleft {
	padding: 1px;
	border: 4px solid #f9f9f9;
}

.hentry .entry-title a:hover {
	text-decoration: underline;
}

.hentry .entry-title {
	font-size: 23px;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 7px;
}

.inline-blog .hentry .entry-title,
.columns-blog .hentry .entry-title {
	font-size: 18px;
}

.hentry .entry-title a {
	color: #333333;
}

.hentry .entry-header .entry-meta,
.hentry .entry-header .entry-meta a,
.hentry .entry-tags a,
.entry-tags .tags-title {
	color: #aaa;
}

.hentry .entry-header .entry-meta {
	margin-bottom: 15px;
}

.hentry .entry-header .entry-meta a {
	font-weight: normal;
}

.entry-meta.bottom {
	background: #fcfcfc;
	border-top: 1px solid #f9f9f9;
	margin: 0px -20px -20px;
	padding: 7px 20px;
}

.hentry .entry-content .more-link {
	display: none;
}

.single .entry-meta.top {
	margin-bottom: 10px;
}

.read-more-container {
	text-align: right;
	font-size: 12px;
}

.read-more-container a {
	display: inline-block;
	color: #989898;
	font-weight: bold;
}

.read-more-container a:hover {
	color: #333333;
}

.hentry .entry-category,
.hentry .entry-tags {
	margin-bottom: 20px;
}

.hentry .entry-category a,
.hentry .entry-tags a {
	display: inline-block;
	padding: 1px 6px;
	font-size: 12px;
	font-weight: normal;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.hentry .entry-category a {
	background: #fc4e3a;
	color: #ffffff;
}

.hentry .entry-tags a {
	background: #f8f8f8;
}

.entry-tags .tags-title {
	margin-right: 6px;
	font-size: 12px;
}

.entry-attachment {
	text-align:center;
}

.hentry.format-gallery .entry-content .gallery {
	display: none;
}

.hentry.format-gallery .bxslider {
	visibility:hidden;
	opacity: 0;
}

.page-links {
	clear: both;
	margin: 0 0 15px;
}

/*--------------------------------------------------------------
5.1 Posts & Pages
--------------------------------------------------------------*/
.page .hentry .entry-title,
.single .hentry .entry-title {
	font-size: 37px;
}

.page .entry-title {
	margin-bottom: 20px;
}

.single .entry-content p.intro,
.page .entry-content p.intro {
	font-size: 120%;
	font-weight: bold;
	line-height: 1.6;
}

.single .entry-content p span.dropcap,
.page .entry-content p span.dropcap {
	float: left;
	padding: 0 12px 0 0;
	font-size: 300%;
	font-weight: bold;
	line-height: 1;
}

/*--------------------------------------------------------------
5.1 404 Page, Archive Page, Search Page
--------------------------------------------------------------*/
.page-header {
	margin-top: 0;
}

.page-header .page-title {
	margin: 0;
	font-size: 23px;
}

.taxonomy-description  p {
	margin: 10px 0 0;
	padding: 10px 0 0;
	font-size: 12px;
	color: #aaa;
	border-top: 1px solid #f2f2f2;
}

#archive-404 {
	border-top: 4px solid #f9f9f9;
	margin-top: 30px;
}

.error404 .searchform .field,
.search-no-results .searchform .field {
	width: 50%;
}

#archive-404 ul {
	padding-left: 20px;
	-webkit-padding-start: 20px;
}


/*--------------------------------------------------------------
4.0 Widget
--------------------------------------------------------------*/
.widget ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	-webkit-padding-start: 0;
}

.widget .widget-title {
	margin: 0 0 20px;
	font-size: 14px;
	text-transform:uppercase;
	line-height: 1.4;
	font-weight: bold;
}

#colophon .widget {
	margin-bottom: 30px;
}

.widget_recent_entries span {
	display: block;
	line-height: 1.4;
	color: #999;
	font-size: 12px;
	margin-bottom: 6px;
}

.widget_tag_cloud li {
  	border: 0;
  	padding-top: 0;
  	padding-bottom: 6px;
}

.widget_tag_cloud a {
    display: inline-block;
  	margin-right: 4px;
  	margin-bottom: 8px;
  	padding: 0 10px;
  	line-height: 28px;
  	font-size: 11px !important;
  	text-transform: uppercase;
  	color: #565656;
  	background: #f7f8f8;
}

.widget_tag_cloud a:hover {
	background: #fc4e3a;
	color: #fff;
}

.widget .searchform {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
4.1 Sidebar
--------------------------------------------------------------*/
#secondary a {
	color: #333333;
}

#page #secondary .widget ul li,
#secondary .widget .recent-item .hentry {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#page #secondary .widget ul li:last-child,
#secondary .widget .columns-layout .recent-item:last-child .hentry,
#footer-widgets .widget .columns-layout .recent-item:last-child .hentry,
#secondary .widget .row:last-child > .recent-item:last-child .hentry,
#footer-widgets .widget .row:last-child > .recent-item:last-child .hentry {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#secondary .widget .recent-item .entry-meta a {
	color: #989898;
}

/*--------------------------------------------------------------
4.2 Custom Widgets
--------------------------------------------------------------*/
#page .widget_tdmagazine_recent_comments_widget ul li,
#page .widget_tdmagazine_author_widget ul li,
#footer-widgets .widget .recent-item .hentry {
	border-bottom: 1px solid rgba(255,255,255,0.15);
	padding-bottom: 12px;
	margin-bottom: 12px;
	line-height: 1.2;
}

#page .widget_tdmagazine_recent_comments_widget ul li:last-child,
#page .widget_tdmagazine_author_widget ul li:last-child {
	border: none;
}

.widget_tdmagazine_recent_comments_widget .author-name,
.widget_tdmagazine_author_widget .author-widget-name,
.widget_tdmagazine_login_widget .user-name,
#secondary .widget .recent-item .entry-title,
#footer-widgets .widget .recent-item .entry-title {
	margin-top: 2px;
	margin-bottom: 8px;
	font-weight: bold;
}

.widget_tdmagazine_recent_comments_widget .author-name:after {
	content: ":";
}

.widget_tdmagazine_recent_comments_widget .entry-link,
.widget_tdmagazine_author_widget .author-post-count,
.widget_tdmagazine_login_widget .logout-link,
.widget_tdmagazine_login_widget .lost-password-container {
	font-size: 12px;
}

.widget_tdmagazine_recent_comments_widget .author-widget-image,
.widget_tdmagazine_author_widget .author-widget-image {
	max-width: 50px;
}

.widget_tdmagazine_login_widget .profile-picture-name .avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.widget_tdmagazine_login_widget .profile-picture-name,
.widget_tdmagazine_login_widget .user-bio,
.widget_tdmagazine_newsletter_widget input {
	margin-bottom: 15px;
}

.widget_tdmagazine_login_widget .login-username input,
.widget_tdmagazine_login_widget .login-password input {
	display: block;
	width: 100%;
}

#secondary .widget .recent-item .entry-summary,
#footer-widgets .widget .recent-item .entry-summary {
	display: none;
}

#secondary .widget .recent-item,
#footer-widgets .widget .recent-item {
	width: 100%;
}

#secondary .widget .standard-layout .recent-item .thumb-link.alignleft,
#footer-widgets .widget .standard-layout .recent-item .thumb-link.alignleft,

#secondary .widget .other-recent-items .recent-item .thumb-link.alignleft,
#footer-widgets .widget .other-recent-items .recent-item .thumb-link.alignleft  {
	width: 50px;
}

#secondary .widget .columns-layout .recent-item .thumb-link.alignleft,
#footer-widgets .widget .columns-layout .recent-item .thumb-link.alignleft {
	display: block;
	width: 100%;
	max-width: 100%;
	float: none;
	margin: 0 0 20px;
}

#secondary .widget .recent-item .entry-title,
#footer-widgets .widget .recent-item .entry-title {
	font-size: 14px;
}

#secondary .widget .recent-item .entry-meta,
#footer-widgets .widget .recent-item .entry-meta {
	margin: 0;
}

.widget .recent-item .entry-summary p {
	margin: 0;
}

/*--------------------------------------------------------------
4.2 Custom Widgets ( Deprecated )
--------------------------------------------------------------*/
.widget_tdmagazine_recent_posts_widget,
.widget_tdmagazine_popular_posts_widget {
	line-height: 1.2;
}

.widget_tdmagazine_recent_posts_widget .recent-post-date,
.widget_tdmagazine_popular_posts_widget .popular-post-date {
	font-size: 12px;
}

.widget_tdmagazine_recent_posts_widget .recent-post-entry-image,
.widget_tdmagazine_popular_posts_widget .popular-post-entry-image {
	margin-right: 10px;
	float: left;
}

.widget_tdmagazine_recent_posts_widget .recent-post-entry-image,
.widget_tdmagazine_popular_posts_widget .popular-post-entry-image {
	width: 46px;
}

/* =Navigation
----------------------------------------------- */
#nav-below,
#comment-nav-below {
	overflow: hidden;
}

#comment-nav-below,
.navigation-paging {
	margin-bottom: 20px;
}

.site-content .nav-previous {
	float: left;
	width: 50%;
}

.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.navigation-post .meta-nav,
#comment-nav-below a {
	font-size: 12px;
	color: #aaaaaa;
	margin-bottom: 5px;
}

.navigation-post a {
	display: block;
	font-weight: bold;
	line-height: 1.4;
}

.page-pagination-conatiner {
	margin-bottom: 20px;
}

.numeric-pagination a {
	margin-right: 2px;
}

.numeric-pagination .current {
	background: #ffffff
}

/* =Comments
----------------------------------------------- */
#comments .comments-title {
	margin: -20px -20px 20px;
	padding: 15px 20px;
	border-bottom: 4px solid #f9f9f9;
	background: #fbfbfb;
	color: #aaaaaa;
	font-weight: 400;
	font-size: 18px;
}

#comments .comments-title:before {
	content: "\f0e6";
	padding-right: 6px;
}

#comments .comment-list {
	border-bottom: 1px solid #f2f2f2;
}

#comments ul {
	list-style: none;
}

#comments ol {
	list-style: none;
	margin-left: 0;
	-webkit-padding-start: 0;
	padding-left: 0;
	margin-bottom: 25px;
}

#comments .comment-list article,
#comments .comment-list .pingback,
#comments .comment-list .trackback {
	border-top: 1px solid #f2f2f2;
	margin-bottom: 25px;
	padding-top: 25px;
	position:relative;
}

#comments .comment-list > li:first-child > article,
#comments .comment-list > .pingback:first-child,
#comments .comment-list > .trackback:first-child {
	border-top: 0;
}

#comments .comment-author {
	position: relative;
	line-height: 1.2;
}

#comments .comment-author .avatar {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
}

#comments .comment-author,
#comments .comment-awaiting-moderation,
#comments .comment-content,
#comments .comment-list .reply,
#comments .comment-metadata {
	padding-left: 65px;
}

#comments .comment-metadata {
	margin-top: 5px;
}

#comments .says {
	display: none;
}

#comments .comment-content {
	margin-top: 20px;
}

#comments .comment-edit-link {
	margin-left: 2px;
	position:relative;
}

#comments .comment-edit-link:before {
	content: "\2022";
	padding-right: 5px;
	font-size: 12px;
}

#comments .comment-content li > ul,
#comments .comment-content li > ol {
	margin-bottom: 0;
}

#comments .comment-list .children {
	list-style: none;
	margin-left: 40px;
}

#comments ol li > ul {
	list-style: none;
}

#comments .comment-content ul {
	list-style: disc;
}

#comments .comment-content ul ul,
#comments .comment-content ol ul {
	list-style-type: circle;
}

#comments .comment-content ul li,
#comments .comment-content ol li {
	margin-bottom: 0;
}

#comments .comment-content ol {
	margin-left: 25px;
	list-style: decimal;
}

#comments .comment .comment-respond {
	margin-top: 45px;
}

#comments .comment-respond h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 20px;
}

#comments .no-comments {
	text-align: center;
}

#comments .no-comments span {
	display: inline-block;
	background: #f9fafa;
	border: 1px solid #eee;
	padding: 15px 18px;
	line-height: 1.1;
	margin: 0 0 40px;
	font-size: 13px;
}

#respond label {
	display: block;
}

#respond #author,
#respond #email,
#respond #url {
	width: 50%;
}

#respond #comment {
	width: 100%;
}

.comment #respond #commentform {
	padding-bottom: 20px;
}

#comments .comment-metadata,
#comments .form-allowed-tags,
#respond .comment-notes,
#respond .logged-in-as,
#comments .reply,
#respond label {
	font-size: 12px;
}

#comments .reply .comment-reply-link,
#comments .comments-title,
#comments .form-allowed-tags code,
#comments .comment-metadata,
#comments .comment-metadata a,
#respond .logged-in-as,
#respond .comment-notes,
#respond .logged-in-as a,
.comment-navigation a:hover {
	color: #aaa;
}

#comments .reply .comment-reply-link,
#comments .comment-metadata a,
#respond .logged-in-as a,
#comments .comment-subscription-form {
	font-weight: normal;
}

#comments .form-allowed-tags {
	margin-bottom: 40px;
}

#comments .form-allowed-tags code {
	background: none;
	white-space: normal;
}

#comments .form-submit,
#comments .comment-subscription-form  {
	margin-bottom: 0;
}

#comments .comment-subscription-form #subscribe_comments {
	margin-top: 30px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
}

/* =Go Top Button
----------------------------------------------- */
#gotop {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 2%;
	background: #fff;
	padding: 4px 12px 6px;
	cursor: pointer;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* =Media
----------------------------------------------- */
img.alignleft {
	margin: 5px 15px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 15px;
}

img.aligncenter {
	display: block;
	clear: both;
	margin: 15px auto;
}

img.alignnone {
    display: block;
    margin: 15px 0;
}

img.alignleft,
img.alignright,
img.aligncenter,
img.alignnone {
	border: 4px solid #f4f8f8;
	padding: 1px;
}

.wp-caption {
	text-align: center;
	margin: 5px 10px 10px 10px;
	max-width: 100%;
}

.wp-caption.aligncenter { margin: 10px auto; }

.wp-caption.alignleft { margin-left: 0; }

.wp-caption.alignright { margin-right: 0; }

.wp-caption.alignnone { margin-left: 0; }

.wp-caption img,
.wp-caption img a {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption
.wp-caption-text {
	margin: 0;
	padding: 5px;
}

.site-content .gallery {
	margin-bottom: 1.5em;
}

.gallery-caption,
.wp-caption-text {
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
}

.wp-smiley {
	border: none !important;
}

embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
11.1 Gallery
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 35px;
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 1px 1px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 49.5%;
	max-width: -webkit-calc(50% - 1px);
	max-width: calc(50% - 1px);
}

.gallery-columns-3 .gallery-item {
	max-width: 33%;
	max-width: -webkit-calc(33.3% - 1px);
	max-width: calc(33.3% - 1px);
}

.gallery-columns-4 .gallery-item {
	max-width: 24.5%;
	max-width: -webkit-calc(25% - 1px);
	max-width: calc(25% - 1px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19.5%;
	max-width: -webkit-calc(20% - 1px);
	max-width: calc(20% - 1px);
}

.gallery-columns-6 .gallery-item {
	max-width: 16%;
	max-width: -webkit-calc(16.66% - 1px);
	max-width: calc(16.66% - 1px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13.5%;
	max-width: -webkit-calc(14.285% - 1px);
	max-width: calc(14.285% - 1px);
}

.gallery-columns-8 .gallery-item {
	max-width: 12%;
	max-width: -webkit-calc(12.5% - 1px);
	max-width: calc(12.5% - 1px);
}

.gallery-columns-9 .gallery-item {
	max-width: 10%;
	max-width: -webkit-calc(11.11% - 1px);
	max-width: calc(11.11% - 1px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background: rgba(0, 0, 0, 0.4);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.59) 59%, rgba(0,0,0,0.65) 69%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.26)), color-stop(59%,rgba(0,0,0,0.59)), color-stop(69%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,0.65) 69%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,0.65) 69%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,0.65) 69%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,0.65) 69%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42000000', endColorstr='#a6000000',GradientType=0 );

	color: #fff;
	font-size: 13px;
	line-height: 1.2;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	padding: 15px;
	margin: 0;
	visibility:hidden;
	opacity: 0;
}

.gallery-item:hover .gallery-caption {
	visibility:visible;
	opacity: 1;
	height: 50%;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* =Featured Section
----------------------------------------------- */
.featured-container {
	position: relative;
	padding: 0;
}

.featured-container .bx-wrapper {
	margin: 0;
}

.featured-container .bxslider {
	visibility:hidden;
}

.featured-container .bx-controls-direction {
	top: 12px;
	bottom: auto;
	right: 3px;
	display: none;
}

.featured-container:hover .bx-controls-direction {
	display: block;
}

.featured-container .bx-controls-direction a,
.hentry .bx-controls-direction a {
	color: #ffffff;
	font-size: 12px;
	background: #000000;
	padding: 1px 3px;
	margin: 0 1px;
}

.featured-container .bx-controls-direction a:hover,
.hentry .bx-controls-direction a:hover {
	background: #fc4e3a;
}

.featured-container .featured-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #000000;
	background: rgba(0, 0, 0, 0.65);
	padding: 10px 20px;
}

.featured-container .featured-title {
	margin: 5px 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #eee;
}

.featured-container .featured-title a,
.featured-container .featured-excerpt a:hover {
	color: #f2f2f2;
}

.featured-container .featured-excerpt {
	margin-bottom: 10px;
	color: #ddd;
}

.featured-container .bx-wrapper .bx-pager {
	display: table;
	padding-top: 0;
	bottom: -8px;
	z-index: 100;
	padding-left: 1px;
}

.featured-container .bx-wrapper .bx-pager .bx-pager-item {
	display: table-cell;
	zoom: 1;
	padding: 0 1px 0 0;
	opacity: 0.9;
}

.featured-container .bx-wrapper .bx-pager.bx-default-pager a {
	width: 100%;
	margin: 0;
	background: #aaa;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 5px;
}

.featured-container .bx-wrapper .bx-pager.bx-default-pager a:hover,
.featured-container .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fc4e3a;
}


/* =Home Category Section
----------------------------------------------- */
#homepage-widgets .recent-item img {
	border: 4px solid #f9f9f9;
	padding: 1px;
}

#homepage-widgets .entry-comments {
	float: none !important;
	display: inline-block;
}

#homepage-widgets .entry-comments:before {
	content: "\2014";
	padding: 0 4px 0 3px;
}

#homepage-widgets .recent-item .byline {
	display: none;
}

#homepage-widgets .standard-layout .latest-post,
#homepage-widgets .columns-layout .hentry,
#homepage-widgets .other-recent-items .hentry {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
}

#homepage-widgets .other-recent-items:last-child .hentry,
#homepage-widgets .columns-layout .one-column:last-child .hentry,
#homepage-widgets .columns-layout .two-columns:nth-last-child(-n+2) .hentry,
#homepage-widgets .columns-layout .three-columns:nth-last-child(-n+3) .hentry {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#homepage-widgets .latest-post .thumb-link.alignleft {
	max-width: 220px;
}

#homepage-widgets .other-posts .thumb-link.alignleft {
	max-width: 100px;
}

#homepage-widgets .columns-layout .two-columns .thumb-link.alignleft,
#homepage-widgets .columns-layout .three-columns .thumb-link.alignleft {
	float: none;
	display: block;
	margin: 0 0 20px;
	max-width: 100%;
}

#homepage-widgets .latest-post .entry-title,
#homepage-widgets .other-posts .entry-title,
#homepage-widgets .columns-layout .entry-title {
	margin: 5px 0 7px;
}

#homepage-widgets .latest-post .entry-title {
	font-size: 23px;
}

#homepage-widgets .other-posts .entry-title,
#homepage-widgets .columns-layout .entry-title {
	font-size: 18px;
}

/* =Author Section
----------------------------------------------- */
.author-section {
	position: relative;
}

.author-section .gravatar {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 64px;
	height: 64px;
}

.author-section .about {
	margin-bottom: 20px;
	padding-left: 84px;
}

.author-section .author-name {
	font-size: 18px;
	margin: 0 0 5px;
}

.author-section .author-name a:hover {
	color: #333333;
}

.author-section .author-social-links {
	padding: 4px 20px;
	border-top: 4px solid #f9f9f9;
	background: #fbfbfb;
	font-size: 12px;
	margin: 0 -20px -20px;
}

.author-section .author-social-links a {
	margin-left: 14px;
	color: #989898;
}

.author-section .author-social-links a:hover {
	color: #333333;
}

/*--------------------------------------------------------------
19.0 Related Posts Section
--------------------------------------------------------------*/
.related-posts-title {
	margin-top: 0px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 14px;
	text-transform:uppercase;
	line-height: 1.4;
}

.related-posts-container img {
	padding: 1px;
	border: 4px solid #f9f9f9;
}

.related-posts-container ul {
	margin-bottom: 0;
}

.related-post-entry-title {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

.related-post-entry-title a {
	color: #333333;
}

.related-post-entry-title,
.related-posts-container .entry-category {
	padding: 0 4px;
}

.related-post-entry-title a:hover,
.related-posts-container .entry-category a:hover {
	text-decoration: underline;
}

.related-posts-container .entry-category,
.related-posts-container .entry-category a {
	color: #aaaaaa;
}

.related-posts-container .entry-category {
	font-size: 12px;
}

/*--------------------------------------------------------------
19.0 Share Buttons
--------------------------------------------------------------*/
.entry-header .share-section {
	margin-bottom: 25px;
}

.entry-header .share-section .share-buttons-title {
	display: none;
}

.share-section .share-buttons-title,
.related-posts .section-title {
	position: relative;
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: #aaaaaa;
	margin-top: 0;
	margin-bottom: 10px;
}

.share-section.custom-style a {
	position: relative;
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	height: 20px;
	padding: 0 10px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 3px;
	margin-right: 3px;
}

.share-section.custom-style a:hover {
	text-decoration: none;
}

.share-section.custom-style a:before {
	padding-right: 7px;
}

.share-section.custom-style .facebook {
	background: #314d91;
}

.share-section.custom-style .facebook:before {
	content: "\f09a";
}

.share-section.custom-style .facebook:hover {
	background: #4d72d1;
}

.share-section.custom-style .twitter {
	background: #07beed;
}

.share-section.custom-style .twitter:before {
	content: "\f099";
}

.share-section.custom-style .twitter:hover {
	background: #41d5fa;
}

.share-section.custom-style .googleplus {
	background: #B83B29;
}

.share-section.custom-style .googleplus:before {
	content: "\f0d5";
}

.share-section.custom-style .googleplus:hover {
	background: #e8533c;
}

.share-section.custom-style .linkedin {
	background: #0072b5;
}

.share-section.custom-style .linkedin:before {
	content: "\f0e1";
}

.share-section.custom-style .linkedin:hover {
	background: #289bde;
}

.share-section.custom-style .pinterest {
	background: #BC282D;
}

.share-section.custom-style .pinterest:before {
	content: "\f0d2";
}

.share-section.custom-style .pinterest:hover {
	background: #961c15;
}

.default-share-buttons {
	list-style: none;
	padding-left: 0;
	-webkit-padding-start: 0;
	overflow: hidden;
	display: inline-block;
	margin: 0;
}

.default-share-buttons li.facebook,
.default-share-buttons li.twitter,
.default-share-buttons li.google-plus,
.default-share-buttons li.in,
.default-share-buttons li.pinterest {
	margin-top: 3px;
	float: left;
	width: 100px;
}

/* =Breaking News
----------------------------------------------- */
.breaking-news-container {
	background: #f3f3f3;
	border-bottom: 1px solid #fff;
	margin-left: -30px;
	margin-right: -30px;
	padding: 0 25px;
	overflow: hidden;
}

#breaking-news-tems {
	display: none;
}

.ticker {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #f3f3f3;
}

.ticker-title span {
	display: inline-block;
	padding: 0 12px;
	margin-left: 3px;
	line-height: 33px;
	background: #fc4e3a;
	color: #fff;
	font-weight: bold;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.ticker-content {
	margin: 0px 30px 0 0;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 35px;
}

.ticker-content:focus {
	none;
}

#page .ticker-content a {
	text-decoration: none;
	color: #333;
}

.ticker-content a:hover {
	color: #fc4e3a;
}

.ticker-swipe {
	position: absolute;
	top: 0px;
	background-color: #f3f3f3;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

.ticker-swipe span {
	margin-left: 1px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #333;
	height: 14px;
	width: 7px;
	display: block;
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px;
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}

/* =Newsletter
----------------------------------------------- */
#newsletter-container .newsletter-image {
	line-height: 0;
	margin: 0;
	text-align: center;
}

#newsletter .newsletter-title {
	margin-bottom: 15px;
	text-transform:uppercase;
	color: #ffffff;
}

#newsletter form {
	text-align: center;
	margin: 20px 0 0;
}

#newsletter label {
	text-align: left;
	color: #ffffff;
}

#newsletter input[type="text"],
#newsletter input[type="email"] {
	width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 0;
}

#newsletter input[type="submit"] {
	display: block;
	width: 50%;
	margin: 15px auto 5px;
}

/* =Authors Page
----------------------------------------------- */
.authors-list-container {
	border-bottom: 4px solid #eee;
}

.authors-list-container,
.authors-list-container .author-name,
.authors-list-recent-articles ul {
	margin-top: 25px;
	margin-bottom: 20px;
}

.authors-list-ra-title {
	margin-top: 0;
}

.authors-list-recent-articles ul {
	list-style: square;
	padding-left: 20px;
	-webkit-padding-start: 20px;
}

.authors-list-container .author-link a {
	font-size: 12px;
	color: #aaaaaa;
}

/* =Ads
----------------------------------------------- */
#top-ad-section,
#bottom-ad-section,
#post-ad-section,
#entry-ad-section {
	text-align: center;
}

#top-ad-section {
	margin-top: 5px;
}

#bottom-ad-section {
	margin: 10px 0 0;
}

#post-ad-section {
	margin-top: 20px;
	margin-bottom: 20px;
}

#entry-ad-section {
	float: right;
	margin: 5px 0 5px 15px;
}

#top-ad-section .ad-title,
#bottom-ad-section .ad-title,
#post-ad-section .ad-title,
#entry-ad-section .ad-title {
	margin: 0;
	font-size: 10px;
}


/*--------------------------------------------------------------
=Responsive
--------------------------------------------------------------*/
@media only screen and (max-width:992px) and (min-width:768px) {
	.post-box,
	#archive-404 .custom-archive-item {
		min-width: 100%;
		width: 100%;
	}
}

/* Tablet and Mobile */
@media only screen and (max-width:768px) {
	.sticky-navigation {
		position: relative;
	}

	#mobile-site-navigation,
	.hentry .thumb-link.alignleft {
		display: block;
	}

	.main-navigation {
		display: none;
	}

	#masthead .site-branding,
	#header-searchform,
	.hentry .thumb-link.alignleft {
		float: none !important;
	}

	#header-searchform {
		margin-top: 0;
		margin-bottom: 40px;
	}

	#masthead .site-branding,
	#header-searchform {
		text-align: center;
	}

	#header-searchform input,
	.hentry .thumb-link.alignleft,
	.post-box,
	#archive-404 .custom-archive-item {
		min-width: 100%;
		width: 100%;
	}

	.hentry .thumb-link.alignleft {
		margin: 0 0 20px;
	}

	#page .featured-container .featured-info {
		position: static;
		background: #000;
	}
}

/* Mobile */
@media only screen and (max-width:500px) {
	#comments .comment-list .children {
		margin-left: 0;
	}

	.page .hentry .entry-title,
	.single .hentry .entry-title {
		font-size: 23px;
	}

	.author-section .author-social-links a {
		float: none !important;
	}

	.hentry h1 { font-size: 2em; }
	.hentry h2 { font-size: 1.5em; }
	.hentry h3 { font-size: 1.17em; }
	.hentry h4 { font-size: 1em; }
	.hentry h5 { font-size: .83em; }
	.hentry h6 { font-size: .75em; }
}

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
.bx-wrapper{position:relative;zoom:1;margin:0 auto 60px;padding:0}
.bx-wrapper img{max-width:100%;display:block}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%}
.bx-wrapper .bx-loading{min-height:50px;background:url(images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666;padding-top:20px}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{zoom:1;display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:0 5px}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}
.bx-wrapper .bx-controls-direction{position:absolute;right:12px;bottom:13px;z-index:9999}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-controls-auto{text-align:center}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/controls.png) -86px -11px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/controls.png) -86px -44px no-repeat;margin:0 3px}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:rgba(80,80,80,0.75);width:100%}
.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default{border-radius:2px;background:#565656;color:#fff;-webkit-box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);box-shadow:0 1px 2px 1px rgba(0,0,0,0.2)}
.tooltipster-default .tooltipster-content{font-size:10px;line-height:14px;overflow:hidden;padding:3px 6px}
.tooltipster-icon{cursor:help;margin-left:4px}
.tooltipster-base{font-size:0;line-height:0;position:absolute;z-index:9999999;pointer-events:none;width:auto;overflow:visible;padding:0}
.tooltipster-base .tooltipster-content{overflow:hidden}
.tooltipster-arrow{display:block;text-align:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1}
.tooltipster-arrow span,.tooltipster-arrow-border{display:block;width:0;height:0;position:absolute}
.tooltipster-arrow-top span,.tooltipster-arrow-top-right span,.tooltipster-arrow-top-left span{border-left:4px solid transparent!important;border-right:4px solid transparent!important;border-top:4px solid #000;bottom:-4px}
.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-top-left .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-top:9px solid;bottom:-8px}
.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom-right span,.tooltipster-arrow-bottom-left span{border-left:8px solid transparent!important;border-right:8px solid transparent!important;border-bottom:8px solid;top:-8px}
.tooltipster-arrow-bottom .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-bottom:9px solid;top:-8px}
.tooltipster-arrow-top span,.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom .tooltipster-arrow-border{left:0;right:0;margin:0 auto}
.tooltipster-arrow-top-left span,.tooltipster-arrow-bottom-left span{left:6px}
.tooltipster-arrow-top-left .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{left:5px}
.tooltipster-arrow-top-right span,.tooltipster-arrow-bottom-right span{right:6px}
.tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border{right:5px}
.tooltipster-arrow-left span,.tooltipster-arrow-left .tooltipster-arrow-border{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-left:8px solid;top:50%;margin-top:-7px;right:-8px}
.tooltipster-arrow-left .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-left:9px solid;margin-top:-8px}
.tooltipster-arrow-right span,.tooltipster-arrow-right .tooltipster-arrow-border{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-right:8px solid;top:50%;margin-top:-7px;left:-8px}
.tooltipster-arrow-right .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-right:9px solid;margin-top:-8px}
.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}
.tooltipster-fade-show{opacity:1}
.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:0;-moz-transition-property:0;-o-transition-property:0;-ms-transition-property:0;transition-property:transform;-webkit-backface-visibility:hidden}
.tooltipster-grow-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:0 opacity;-moz-transition-property:0;-o-transition-property:0;-ms-transition-property:0;transition-property:transform}
.tooltipster-swing-show{opacity:1;-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-o-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-moz-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-ms-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-o-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4)}
.tooltipster-fall{top:0;-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}
.tooltipster-slide{left:-40px;-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15)}
.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}
.tooltipster-content-changing{opacity:0.5;-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}

/* =Printing Style
----------------------------------------------- */
@media print {
	select,
	input,
	textarea,
	checkbox,
	#wp-admin-bar,
	#secondary,
	#wp-calendar,
	#respond,
	#comments,
	#commentform,
	#commentform p,
	.main-navigation,
	#colophon .site-info,
	#gotop,
	#nav-below,
	.related-posts-container,
	.author-section,
	.edit-link,
	.entry-meta.top .pull-right,
	.social-icon-section,
	.breadcrumbs,
	.share-buttons,
	.main-search-box,
	#top-ad-section,
	#bottom-ad-section,
	#post-ad-section,
	#entry-ad-section,
	.backstretch {
		display: none !important;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after:avoid;
     	page-break-inside:avoid;
     	font-weight: 700;
		margin: .75em 0 .5em;
		text-align: left;
     }

	h3 {
		margin-left:10px;
     	margin-bottom:0px;
     	padding-bottom:0px;
    }

	blockquote, table, pre { page-break-inside:avoid }
	ul, ol, dl  { page-break-before:avoid }

	img.centered {
		display: block;
     	margin-left: auto;
     	margin-right: auto;
     }

	img.right {
		padding: 4px;
     	margin: 0 0 2px 7px;
     	display: inline;
    }

	img.left {
		padding: 4px;
     	margin: 0 7px 2px 0;
     	display: inline;
    }

	.right { float: right; }
	.left { float: left }

	img {
		page-break-inside:avoid;
     	page-break-after:avoid;
    }

    a,
	a:visited,
	a:hover,
	a:visited:hover {
		color: #000;
		background: transparent;
		text-decoration: none;
	}

	.content-area {
		float: none;
	}
}