a:hover,
.main-navigation a:hover,
.entry-title a:hover,
#secondary .widget-title,
#colophon .widget_tdmagazine_recent_comments_widget .recent-comment-info a:hover,
#colophon .widget_tdmagazine_recent_posts_widget .recent-post-entry-title a:hover,
#colophon .widget_tdmagazine_popular_posts_widget .popular-post-entry-title a:hover,
.comment-reply-link-area a:hover,
.site-footer .widget a:hover,
.footer-bottom .c a,
.featured-container .featured-info .more-link,
.home-category-container-title a,
.home-category-excerpt .more-link,
.author-section .author-name a,
.related-posts-title,
.ticker-content a:hover,
.authors-list-container .author-link a:hover,
.custom-archive-hentry .entry-title,
.entry-content a,
.custom-archive-hentry a:hover  {
	color: #ea4c88;
}

.entry-category a,
.featured-container .bx-controls-direction a:hover,
.hentry .bx-controls-direction a:hover,
.ticker-title,
.widget_tag_cloud a:hover {
	background: #ea4c88;
}

.site-footer {
	border-color: #ea4c88;
}